GOOGLE_CLIENT_ID=sizin_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=sizin_google_client_secret
SECRET_KEY=cok_guvenli_ve_rastgele_bir_string
PORT=7435
MCP_API_KEY=uzun_rastgele_bir_token
SSH_LOGINS=root:/root/.ssh,bmericc:/home/bmericc/.ssh
